{{#section 'css'}}
<link rel="stylesheet" href="/public/CSS/admin/topicdetail.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css"
    integrity="sha512-sHiVTDN234pgseKqjDwH39VjS9DkyffX4S00kuAWWq+FrTq7HlFjPoWbfX/QFAxkdG9i9/1ftdG2sS+XWLcJmw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

{{/section}}


<main>
  <div class="container">
    <div id="topicname">{{this.topic.[0].topicname}}</div>
    <div class="words">
      {{#if this.num}}
        <div class="wordcount">Total words: {{this.num}}</div>
        {{#each this.topic}}
          <span>{{wordname}}</span>
        {{/each}}
      {{else}}
        <div class="wordcount">Total words: 0</div>
      {{/if}}
      <a href="/admin/addword/{{this.topic.[0].topicid}}">
        <br>
        <button type="button" class="btnAdd">
          Add
        </button>
      </a>
    </div>
    <div class="tests">
      <div class="testcount">Tests</div>
      {{#if this.test}}
        <button type="button" class="btnAdd">
          Review
        </button>
      {{else}}
        Chưa có bài test
        <br>
        <button type="button" class="btnAdd">
          Add
        </button>
      {{/if}}
    </div>
    <div class="buttongroup">
      <button type="button" class="btnDel">
          Delete
      </button>
      <button type="button" class="btnEdit">
          Edit
      </button>
      <button type="button" class="btnBack">
          Back to list
      </button>
    </div>
  </div>
</main>