{{#section 'css'}}
    <link rel="stylesheet" href="/public/CSS/vwLearner/category.css">
{{/section}}

{{#section 'js'}}
    <script>
    </script>
{{/section}}
<div class="container">
    <div id="title" class="card w-75 border-0" >
        <div id="title_content"><h1 > Category </h1></div>
        <div id="searchbar">
            <form>
            <div class="form-row w-100">
                <div class="col-10">
                        <input
                                class='form-control mr-sm-2 w-100 rounded-pill searchinput'
                                type='search'
                                placeholder='Search for anything'
                                name="category"
                                aria-label='Search'
                        />
                </div>
                <div class="col-2">
                    <button
                            class='btn inline form-control'
                            type='submit'
                            formaction="/category/search"
                    ><strong>Search</strong>
                        <i class='fa fa-search' aria-hidden='true'></i></button>
                </div>
            </div>
        </form>
        </div>
    </div>
    <div class="container">
        <div class="row w-100" >
            {{#each this.category}}
                <div class ="column">
                <a href="/topiclist/{{CategoryID}}" class="card">

                <div class="card categorycard"  >
                    <div class="card border">
                    <img src="{{CategoryAvatar}}" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{CategoryName}}</h5>
                        <p class="card-text">{{CategoryDes}}</p>
                    </div>
                </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="card-footer text-muted w-100">
        <nav class="d-flex flex-row-reverse bd-highlight justify-content-center">
            <ul class="pagination">
                <li class="page-item {{#if this.prePage}}abled{{else}}disabled{{/if}} ">
                    <a class="page-link" href="?page={{this.prePage}}">Previous</a>
                </li>
                {{#each pageNumber}}
                    <li class="page-item {{#if isCurrent}}active{{else}}disactive{{/if}}"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
                {{/each}}
                </li>
                <li class="page-item  {{#if this.nextPage}}abled{{else}}disabled{{/if}} "><a class="page-link" href="?page={{this.nextPage}}">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
