{{#section 'css'}}
    <link rel="stylesheet" href="/public/CSS/vwLearner/handbook.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{{/section}}

{{#section 'js'}}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.subnav a').on('click', function() {
                $("#level-1").removeClass('active')
                $("#level-2").removeClass('active')
                $("#level-3").removeClass('active')
                $("#level-4").removeClass('active')
                $("#level-5").removeClass('active')
                $(this).addClass('active')
            });
        })

        // window.onbeforeunload = function(event) {
        //     $('element').show();
        //     return;
        // };
    </script>
    <script>
        $(document).ready(function(){
            const modal = document.getElementById("dialog");
            let path = "";
            let change = true;
            let dataChange = [];
            $('a').on('click', function() {
                if(this.id === 'Handbook'||this.id === 'level-1'||this.id === 'level-2'||this.id === 'level-3'||this.id === 'level-4'||this.id === 'level-5'){

                }
                else{
                    if(change){
                        path = this.href
                        event.preventDefault()
                        modal.style.display="flex";
                    }
                    <!--var words = '{{json words}}';-->
                    <!--alert((words));-->
                }
            });
            $('button').on('click', function() {
                // alert(this.classList)
                if(this.id === 'cancel'){
                    modal.style.display="none";
                }
                else if(this.id === 'leave'){
                    location.href=path
                }
                else if(this.id ==='save'){
                    document.getElementById("updateDataForm").submit();
                }
                else{

                }

            });
        })
    </script>
    <script>

        function isStudyClick(a){
            <!--const a = document.getElementById('dialog')-->
            <!--a.style.display = "block"-->
            <!--let a= document.createElement('a');-->
            <!--a.target= '_blank';-->
            <!--a.href= "#save-change";-->
            <!--a.click();-->
            <!--let myData = {{level1}};-->
            <!--alert(myData);-->
        }
    </script>
{{/section}}
<div class="container" class="card-75 border-0">
    <div id="title" >
        <nav class="subnav">
            <a id="level-1"  class="active" href="#" >Level 1</a>
            <a id="level-2"  href="#">Level 2</a>
            <a id="level-3" href="#" >Level 3</a>
            <a id="level-4" href="#" >Level 4</a>
            <a id="level-5" href="#" >Level 5</a>
            <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

        </nav>
        <div id="searchbar">
            <form >
                <div class="form-row w-100">
                    <div class="col-10">
                        <input
                                class='form-control mr-sm-2 w-100 rounded-pill searchinput'
                                type='search'
                                placeholder='Search for anything'
                                name="word"
                                aria-label='Search'
                        />
                    </div>
                    <div class="col-2">
                        <button
                                class='btn inline form-control'
                                type='submit'
                                formaction="/handbook/search"
                        ><strong>Search</strong>
                            <i class='fa fa-search' aria-hidden='true'></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="content" class="card-75 border-0">
        <form id="updateDataForm" method="POST">

        <table >
            <tr>
                {{#each words}}
                <td class="lean" id="{{wordid}}">
<!--                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">-->
                    <div class="formcheck">
                        <input  type="checkbox" value= true name="{{wordid}}" id="{{wordid}}" {{#if isStudy}}checked{{/if}}>
                    </div>

<!--                    <button onclick="isStudyClick('{{wordid}}')">-->
<!--                    {{#if isStudy}}-->
<!--                    <i class="fa fa-check-circle-o" style="color:#F4DF89; font-size: 30px " aria-hidden="true"></i>-->
<!--                    {{else}}-->
<!--                    <i class="fa fa-circle-o" style="color:#F4DF89; font-size: 30px " aria-hidden="true"></i>-->
<!--                    {{/if}}-->
<!--                    </button>-->
                </td>
                <td class="wordname">{{wordname}}</td>
                <td class="wordtype">({{wordtype}})</td>
                <td class="wordmeaning" >{{wordmeaning}}</td>
            </tr>
                {{/each}}

        </table>
        </form>
    </div>
    <div id="dialog" class="overplay"  id="save-change">
        <div class="dialog-body">
            <div class="card w-100 d-flex-justify-content-end border-0">
                <button class="btn" id="cancel">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>

            <h3 >Save Change?</h3>
            <button class="btn" id="leave">
                Leave without save
            </button>
            <button class="btn" id="save">
                Save
            </button>
        </div>
    </div>
</div>
